<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.veriff.imagesdk">

    <application>
        <activity
            android:name=".ImageReaderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.veriff.imagesdk.ImageReaderActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>