<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.veriff.imagesdk">

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="face,ocr" />

        <activity
            android:name=".ImageReaderActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:exported="true"/>

    </application>

</manifest>